/*Header*/
#header {
	height:245px;
	margin:0px auto 15px auto;
	font-family:sans-serif;
	color:#00FFFF;
}

#wrap {
	width:700px;
	margin:0px auto 15px auto;
	font-family:sans-serif;
	font-size:12px;
	color:#7FFF00;
	
body {
	background:#F0FFFF  /*url("https://raw.githubusercontent.com/dipaish/www_dkc/master/images/bg.jpg") repeat-x;*/
	}

/*Header Menu*/
#topmenu {
	display:block;
	list-style:none;
	padding:0 0px 0px 278px;
	float: right;
	width: 415px;
	background-color:#000000;
	position: fixed;
}
#topmenu li {
	display:inline;
}

#topmenu a {
	display:block;
	float:left;
	height:28px;
	margin:0px 0px 0px0px;
	text-decoration:none;
	padding:9px 15px 0px 15px;
	text-align:center;
}
